###############################################################################
## General Section
###############################################################################

[General]

# The name of the cuckoo server to expose to the DXL fabric.
#
# For example: cuckoo1
#
cuckooName=cuckoo1

###############################################################################
## cuckoo section 
###############################################################################

[cuckoo1]

# The cuckoo server hostname or IP address
host=localhost

# The cuckoo API server communication port (optional, defaults to 8090)
;port=8090

###############################################################################
## Settings for the incoming request message pool
###############################################################################

[IncomingMessagePool]

# The queue size for incoming DXL messages (will block when queue is full)
# (optional, defaults to 1000)
;queueSize=1000

# The number of threads available to handle incoming DXL messages
# (optional, defaults to 10)
;threadCount=10
